.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: rgb(51, 51, 204);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(191, 191, 191);
  padding-top:30px;
}

button {
  font-size: calc(6px + 2vmin);
  border-radius:5px;
  background-color: #e7e7e7;
  padding:5px;
}

button:hover {
  cursor: pointer;
}

.my-header {
  color: rgb(230, 153, 153);
  font-size: calc(16px + 2vmin);
  font-weight: bold;
  margin-bottom:10px;
}

.results {
  padding:10px;
  font-size: calc(7px + 2vmin);
}

.results-label {
  font-weight:bold;
  margin-bottom:5px;
}

.results-box {
  background-color: rgb(42, 86, 167);
  margin:5px;
  height:80px;
  width:90%;
  max-width: 400px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  border-radius:5px;
  display:flex; 
  justify-content:center; 
  align-items:center;
}

.results-text {
  padding:10px;
}

.hidden-text-area {
  opacity:0;
  overflow:hidden;
  height:1px;
  width:1px;
  text-align:left;
  background-color:white;
  color:black;
  font-weight:normal;
  font-size:14px;
}

.footer {
  margin:50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  button {
    padding: 5px;
    width:150px;
  }
}